{% extends "base.htm" %}
{% block main %}
    <form method="POST" enctype="multipart/form-data" style= "width:100%">
        {% csrf_token %}

        <div class="form-group row">
            <label for="inputbookcate" class="col-sm-2 col-form-label">類&nbsp&nbsp別 : </label>
            <div id="inputbookcate" class="alert alert-danger" role="alert">{{booksingle.1}}&nbsp{{booksingle.11}}</div>

            <label for="inputbookid" class="col-sm-2 col-form-label">編&nbsp&nbsp號 : </label>
            <div id="inputbookid" class="alert alert-danger" role="alert">{{booksingle.2}}</div>
        </div>

        <fieldset style="border:1px solid #acd6ff; border-radius:15px; padding:30px">
            <legend style="width:80px">&nbsp&nbsp修 改</legend>
        <div class="form-group row">
            <label for="inputbookname" class="col-sm-2 col-form-label">書&nbsp&nbsp名 :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputbookname" placeholder="bookname" name="bookname" value="{{booksingle.3}}" maxlength="50">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputauthor" class="col-sm-2 col-form-label">作&nbsp&nbsp者 :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputauthor" placeholder="author" name="author"  value="{{booksingle.4}}" maxlength="20" >
            </div>
        </div>

        <div class="form-group row">
            <label for="inputissuedate" class="col-sm-2 col-form-label">發行日期 :</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputissuedate" placeholder="issuedate" name="issuedate" value="{{booksingle.5 | date:'Y-m-d'}}" min="1800-01-01">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputbuydate" class="col-sm-2 col-form-label">採購日期 :</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputbuydate" placeholder="buydate" name="buydate" value="{{booksingle.6 | date:'Y-m-d'}}" min="1800-01-01">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputwhoissue" class="col-sm-2 col-form-label">出 版 商 :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="whoissue" placeholder="whoissue" name="whoissue" value="{{booksingle.7}}" maxlength="20">
            </div>
        </div>

        <div class="form-group row">
            <label for="bookimg01" class="col-sm-2 col-form-label">封面圖片 :</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" id="bookimg01" placeholder="bookimg01" name="bookimg01" value="{{booksingle.8}}" maxlength="20">
            </div>
        </div>
        </fieldset>

        <br>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg"><i class="fab fa-angellist"></i>{{btntext}}</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <img id="img01" src="/media/{{booksingle.8}}" style="height:200px; width:200px; border:2px #d0d0d0 solid">
        </div> 
        <div class="col-md-3">
            <img id="img01" src="/media/{{booksingle.8}}" style="height:200px; width:200px; border:2px #d0d0d0 solid">
        </div>
        <div class="col-md-3">
            <img id="img01" src="/media/{{booksingle.8}}" style="height:200px; width:200px; border:2px #d0d0d0 solid">
        </div>
        <div class="col-md-3">
            <img id="img01" src="/media/{{booksingle.8}}" style="height:200px; width:200px; border:2px #d0d0d0 solid">
        </div>
    </div>    
{% endblock %}    
{% block scripts %}   
    <script src="../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/js/jquery.dataTables.min.js" type="text/javascript" ></script>
    <script>

    </script>
    
{% endblock %}
