{%extends "base.htm"%}
{%block ourteammember%} 
<section id="team" class="pb-5">
        <div class="container">
            <p></p>
            <!-- <h5 class="section-title h1">OUR TEAM</h5> -->
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="..\..\static\material\1.jpg" alt="card image"></p>
                                        <h4 class="card-title">党榮安</h4>
                                        <p class="card-text">書籍採購, 最新書籍資訊, </p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">書籍採購CRUD, 繪圖功能</h4>
                                        <p class="card-text">書籍採購管理, 查詢</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="..\..\static\material\2.jpg" alt="card image"></p>
                                        <h4 class="card-title">潘垣廷</h4>
                                        <p class="card-text">負責使用者註冊、登入</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">功能</h4>
                                        <p class="card-text">驗證帳號、密碼，Google Recaptcha</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="..\..\static\material\3.jpg" alt="card image"></p>
                                        <h4 class="card-title">Scott Chang</h4>
                                        <p class="card-text">負責項目：<br>留言版<br>彙整DB<br>彙整簡報</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">留言板介紹</h4>
                                        <p class="card-text">功能及使用技術：<br>新增、更新 : ORM<br>查詢、修改 : ajax/restful api<br>圖表 : Highcharts(jQuery plug-in)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="..\..\static\material\4.jpg" alt="card image"></p>
                                        <h4 class="card-title">游羽瑄</h4>
                                        <p class="card-text">書籍借閱</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">書籍借閱介紹</h4>
                                        <p class="card-text">功能及使用技術：<br>新增、更新 : ORM、爬蟲<br>查詢、修改 : ajax</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="..\..\static\material\5.jpg" alt="card image"></p>
                                        <h4 class="card-title">楊沐穎</h4>
                                        <p class="card-text">負責項目:活動室預約系統</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">功能</h4>
                                        <p class="card-text">活動室的CRUD，預約不能重複之判定</p>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                
    
            </div>
        </div>
    </section>
    {% endblock %}  