{% extends "base.htm" %}
{% block content %}
  

<div class="container">
        <div class="row" style="border:dotted 1px black;width:1200px;height: 600px;">
          <div class="col-md">
                <img class="img-thumbnail" src="..\..\static\images\icon_book.jpg" >
          </div>
          <div class="col-md"style="padding-right:100px">
            <dl>
            <br>
            <dt>圖書</dt>    
            <br>
            <dt>精通 Python：運用簡單的套件進行現代運算</dt>  
                <dd>作者： Bill Lubanovic</dd>
                <dd>出版日期：2015/09/22</dd>
                <dd>出版社：歐萊禮</dd>
                <br><dd style="width:600px;border:dotted black">“本書是 Bill Lubanovic 的傑作，先為你紮下深厚的程式設計基礎，再教你使用大量 Python 工具箱處理現實生活中的問題，本書絕對適合學習如何運用 Python 來解決問題。”

                        —Loïc Pefferkorn, 開放碼源系統工程師
                </dd></dl>
                <dl><a href="#">借閱</a>
                    <a href="#">收藏</a>
                    <a href="#">推薦購買</a></dl>
          </div>
        
          
          <div class="row">
               
            <div class="col-md">
                    
            <pre>  容易閱讀，適合我這初學者的Python入門書，習題也不難。推薦 !!! <a href="https://www.books.com.tw/products/0010690075?gclid=Cj0KCQjwof3cBRD9ARIsAP8x70PRkbbwNDma7bbKCKdsLNcW5vA8JMJLH_LTmfQtcfSoqURG_WJS67EaAkEUEALw_wcB">more</a></pre>
            </div>         
         </div>
      </div>
   
{% endblock%}